.mapcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    outline: 2px solid rgb(201, 18, 18);
}
.map-1{
    width: 100vw;
    height: 90vh;

    background-size: 100vw 90vh;
    background-repeat: no-repeat;
    background-position: center;
}
.titled{
    width: 80vw;
}

@media (max-width: 858px){
    .map-1{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
    }

}
