*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1{
    color: white;
}
.nav_main{
    background-color: rgb(22, 12, 77);
    display: flex;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5em;
}
.nav_main .img_link{

    height: 3rem;
    width: 9rem;
    background-image: url("logo_landscape_transparent.png");
    background-repeat: no-repeat;
    background-size: 140px 50px;
}
li{
    list-style: none;
}

a{
    color: rgb(173, 217, 255);
    text-decoration: none;
    transition: .3s ease;
}
a:hover{
    color: royalblue;
    text-decoration: none;
    
}
.contactAA {
    background-color: royalblue;
    border: 2px solid black;
    padding: 5px;
    border-radius: 35%;
}
.pageMainInfo{
    font-size:x-large;
    align-self: center;
}
.aWord:hover{
    font-size:x-large;
}

/*======================================*/

.viewContainerOne{
    background-color: rgb(255, 255, 255);
    height: 95.5vh;
    display: flex;
}
.viewContainerTwo{
    background-color: rgb(61, 63, 63);
    height: 95.5vh;
    display: flex;
}

.viewContainerTree{
    background-color: rgb(92, 119, 119);
    height: 100vh;
    display: flex;
}